@CHARSET "UTF-8";

.wide_item {
    position: relative;
}

div[id^="project_"] {
	margin:20px 15px 20px 15px;
    width:960px;
}

table {
	width:100%;
	padding-top:-30px;
}

td {
	border-radius: 8px;
}

.left_column {
	cursor:pointer;
	width: 700px;
}

.right_column {
	cursor:pointer;
	width: 260px;
}
.right_column:hover, .left_column:hover {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}

img {
    border-radius: 8px;
}