@CHARSET "UTF-8";

body {
	font-family: "Lucida Grande", Verdana, sans-serif;
	background-color: #cccccc;
	color: #aaaaaa;
	font-style: italic;
}

#container {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	float: left;
	width: 100%;
	padding-left: 15px;
	margin-bottom: 15px;
}

.title_name {
	float: left;
}

.title_right {
	float: right;
	padding-right:35px;
	cursor:pointer;
}

.icon {
	background-color:white;
	border-radius: 8px;
    box-shadow: 8px 8px 8px #888888;
	background-image: url(../images/icon.png);
	background-repeat:no-repeat;
	height: 79px;
	width: 79px;
	display: block;
}

.icon:hover {
	background-position: 0 -90px;
}

#content {
	float: left;
	width: 100%;
}

.item {
	cursor:pointer;
	position: relative;
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

.item_plain {
	float:left;
}

.about {
	width: 560px;
	display: block;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 8px 8px #888888;
}

.contact {
	width: 370px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 8px 8px #888888;
}

.projects {
	width: 300px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 8px 8px #888888;
}

.ideas {
	width: 300px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 8px 8px #888888;
}

.accomp {
	width: 300px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 8px 8px #888888;
}

.space {
	float: left;
	width: 30px;
	height: 10px;
}

.break {
	float: left;
	width: 960px;
	height: 15px;
}

.images_tabs {
	display: block;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	
}

h3 {
	text-align: right;
	color: #aaaaaa;
	font-weight: 300;
	padding: 3px 8px 3px 0px;
}

p {
	padding: 5px;
}